input{
    /* background-color: var(--black);
    border: 0 0 1px 0;
    border-color: var(--active);
    border-style: solid;
    border-radius: 5px;
    color: var(--alt-white);
    padding: 5px;
    font-size: var(--font-m);
    margin: 0 5px 0 0; */
}